.box {
  text-align: center;
}

.notice {
  width: 50%;
  margin: 20px auto;
  background: #fff;
  border-radius: 50px;
  font-size: 24px;
  color: #999;
  padding: 10px 100px 10px 30px;
  text-align: left;
}
