.grid {
  position: relative;
  background: #9ec9f6;
  color: #fff;
  padding: 15px;
  font-size: 26px;
}

.t {
  position: absolute;
  left: 15px;
  top: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #9ec9f6;
  font-size: 24px;
}

.i {
  font-style: italic;
  font-size: 26px;
}
