.box{
    border-top:1px solid #dfdee2;
    border-bottom:1px solid #dfdee2;
    background:#fff;
    padding:20px
}
.text{
    font-size:24px;
    line-height: 37px;
    color:#000;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    text-indent:45px;
    letter-spacing:1px;
    padding:20px 0;
}
.pic{
    width: 100%;
}
.tit{
    padding:20px 0;
    font-size:25px;
    text-indent:45px;
    letter-spacing:1px;
    margin:0;
}


