body p {
  margin: 0;
}

button {
  font-size: 24px;
  padding: 4px 22px;
  border-radius: 25px;
  border: 0;
}

/* textarea组件字号修改 */
:global(.am-textarea-control textarea) {
  font-size: 28px !important;
  line-height: 40px !important;
}

:global(.am-list-item .am-list-line .am-list-content) {
  font-size: 28px !important;
}

:global(.am-list-item .am-input-label) {
  font-size: 28px !important;
}

:global(.am-list-item .am-list-line .am-list-extra) {
  font-size: 28px !important;
}

:global(.am-card-body) {
  font-size: 28px !important;
  line-height: 36px;
}

:global(.am-navbar-title) {
  font-size: 28px !important;
}

:global(.am-navbar-left) {
  font-size: 26px !important;
}

:global(.am-navbar-right) {
  font-size: 26px !important;
}
