body p {
  margin: 0;
}

/* textarea组件字号修改 */
:global(.am-textarea-control textarea) {
  font-size: 28px !important;
  line-height: 40px !important;
}

:global(.am-list-item .am-list-line .am-list-content) {
  font-size: 30px !important;
}

:global(.am-list-item .am-input-label) {
  font-size: 30px !important;
}

:global(.am-list-item .am-list-line .am-list-extra) {
  font-size: 30px !important;
}

:global(.am-card-body) {
  font-size: 28px !important;
  line-height: 36px;
}
