.wrapper  {
  padding: 30px 10px;
  background: #fff;
  border-bottom: 1px solid #ccc;
}

.wrapper:after, .bottom:after {
  display: block;
  content: '';
  clear: both;
}

.sign {
  float: left;
  width: 20%;
  font-size: 34px;
  color: red;
  padding-top: 10px;
}

.sign span {
  font-size: 30px;
}

.right {
  float: right;
  width: 80%;
}

.main {
  font-size: 22px;
  text-align: left;
  margin-bottom: 30px;
  line-height: 32px;
}

.num, .time {
  float: left;
  font-size: 20px;
  color: #999;
}

.time {
  float: right;
}
