.wrapper {
  padding-bottom: 300px;
}

.navbar, .content, .tagBox {
  border-bottom: 1px solid #bbb;
}

.text {
  height: 500px;
  align-items: flex-start !important;
}

.content {
  position: relative;
}

.image {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 100%;
}

.tagBox {
  position: relative;
  height: 60px;
  background: #fff;
  padding: 15px 80px 0;
}

.icon {
  position: absolute;
  left: 20px;
  top: 13px;
  width: 40px;
  height: 40px;
}
